# Compiled Python files
*.pyc

# Private things
.extra
Dash_Snippets.dash

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
